body{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #D5E1EF;
}
.card{
  background: white;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
  padding: 20px;
  width: 200px;
  font-family: Arial, sans-serif;
}
.card2{
  border-radius: 10px;
  background-color: #3685FF;
}
.Qr-code{
  width: 100px;
  height: 100px;
}
h2 {
  font-size: 14px;
  margin: 20px 0 10px;
}

p {
  font-size: 10px;
  color: #555;
}